body {
	width: 700px;
	margin: auto;
	background-color: white;
}

canvas {
	background-color: blue;
	border: 5px solid blue;
}
h1 {
	font-size: 60px;
	font-family: monospace;
	text-align: center;
	margin-bottom: 0;
}
h2 {
	font-size: 30px;
	font-family: monospace;
	text-align: center;
	color: red;
	-webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
