body {
	width: 710px;
	margin: auto;
}

canvas {
	background-color: blue;
	border: 5px solid blue;
}
h1 {
	font-size: 60px;
	font-family: monospace;
	text-align: center;
	margin-bottom: 0;
}
h2 {
	font-size: 30px;
	font-family: monospace;
	text-align: center;
	color: red;
	-webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.redButton {
		background-color: red;
    border: 2px solid black;
		border-radius: 50%;
		width: 100px;
		height: 100px;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
		display: inline;
		float: none;
}
.yellowButton {
		background-color: yellow;
    border: 2px solid black;
		border-radius: 50%;
		width: 100px;
		height: 100px;
    color: black;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
		display: inline;
		float: none;
}

div {
	margin: auto;
}
